/* #terminal textarea{
    display: none !important;
} */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.terminal{
    background: #000000a9;
    backdrop-filter: blur(18px);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
    height: 90vh;
    margin-left: 20px;
    margin-top: 20px;
    width: 850px;
}
.xterm-screen{
    background-color: transparent !important;
}
.buttons{
    display: flex;
    margin-top: 20px !important;
    align-items: center;
    justify-content: center;
}

.red{
    background: red;
    color: #fff;
    border: 2px dashed red;
}
.button{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    width: auto;
    color: #fff;
    font-family: "Varela Round", sans-serif;
    font-weight: bolder;
    font-style: normal;
    text-transform: uppercase;
}
.button:focus{   
    background: transparent;
}
.green{
    background: green;
    color: #fff;
    border: 2px solid green;
}
.blue{
    background: rgb(112, 206, 6);
    color: #fff;
    border: 2px solid rgb(112, 206, 6);
}
.terminalTextbox{
    width: 95%;
    height: 40px;
    margin: 0px 20px;
    margin-left: 35px !important;
    border-radius: 20px;
    outline: none;
    background: #000000a9;
    backdrop-filter: blur(18px);
    border: 2px solid rgba(255,255,255,0.1);
    padding: 10px;
    color: #fff;
    transition: 1s;
}
::-webkit-scrollbar{
    width: 0px;
}
.panelList{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.363);
    margin: 10px;
    padding: 20px 5px;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
}
.txt{
    margin-right:2px ;
    width: 95%;
}
.panelList .icon{
    width: 20px;
    height: 20px;
    margin-right: 20px;
    background: red;
    backdrop-filter: blur(18px);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    left: 0;
    transform: translateX(10px);
    transition: 0.5s;
}
.panelList .icon:hover{
    cursor: pointer;
    color: green;
}